
.weather__container {
  margin-top: 5%;
  border: 10px solid #cecece;
  width: 70%;
  /*background-color: #e5e5e5;*/
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
  opacity: 0.9;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 64px -12px 44px 60px #888888;
  box-shadow: 64px -12px 44px 60px #888888;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: flex-start;
  -ms-flex-flow: column wrap;
  flex-flow:column wrap;
  padding-bottom: 5%;
  height:790px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5%;
  margin-bottom:10%;
  justify-content: space-around;
}

body {
  background-image: url('images/bigCloud1.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20%;
}

.stajlTempNowR {
  font-size: 36px;
  color: #ff7314;
  font-weight: 900;
  height: 100px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  display: inline-flex;
  background-color:#c1c1c1;
  border: 1px solid #b7b7b7;
  width:100%
}

.stajlTempNowB {
  font-size: 36px;
  color: #7b370a;
  font-weight: 900;
  height: 100px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  display: inline-flex;
  background-color:#9a9a9a;
  border: 1px solid #b7b7b7;
  width:100%
}
#minmaksId {
  font-size:13px;
  display:block;
  padding:2.5%;
  margin-top:4%;
}



#stajlTempNowA {
  font-size: 12px;
  color: black;
  font-weight: 600;
  opacity: 1;
  display: inline-flex;
  height: auto;
  padding-top: 1%;
  flex-wrap: wrap;
}

#spanId1 {
  font-family: 'Arial';
  color: black;
  font-size: 20px;
  font-weight: 600;
  height: auto;
}

#stajlPress, #stajlPress1 {
  font-weight: 800;
  color: red;
  display: inline-flex;
  height: auto;
}


#pressTitl, #pressTitl1 {
  font-weight: 900;
  color: black;
}

#titleCityR {
  font-weight: 900;
  color: red;
  opacity: 0.9;
  height: auto;
  margin-top: 6%;
  font-size: 26px;
  margin-left: 0%;
  font-family: 'Verdana';
  margin-bottom: 3%;
}

#titleCityB {
  font-weight: 900;
  color: black;
  opacity: 0.9;
  height: auto;
  margin-top: 6%;
  font-size: 26px;
  margin-left: 0%;
  font-family: 'Verdana';
  margin-bottom: 3%;
}

#stajlClear {
  font-weight: 800;
  color: red;
  height: auto;
  font-size:20px;
  margin-top:4%;
  margin-bottom:3%;
}
#stajlClearBl {
  font-weight: 800;
  color: black;
  height: auto;
  font-size:18px;
  margin-top:4%;
  margin-bottom:3%;
}

.stajlClear1 {
  font-weight: 800;
  color: red;
  height: auto;
  font-size:20px;
  margin-bottom:3%;
}


.stajlClear1Fix {
  font-weight: 800;
  color: red;
  height: auto;
  font-size:20px;
  margin-bottom:3%;
}
.stajlClear2 {
  font-weight: 800;
  color: black;
  height: auto;
  font-size:20px;
  margin-bottom:3%;
}
.stajlClear2Fix {
  font-weight: 800;
  color: black;
  height: auto;
  font-size:20px;
  margin-bottom:3%;
}
.stajlClear2:hover {
  color:#666666;
}
.stajlClear1:hover {
  color:#4c0000;
}

#stajlClearAll {
  font-weight: 800;
  color: red;
  height: auto;
  font-size:20px;
  margin-bottom:3%;
}
#stajlClearAll1 {
  font-weight: 800;
  color:black;
  height: auto;
  font-size:20px;
  margin-bottom:3%;
}


#phraseWet {
  color:red;
  font-size:18px;
  font-weight:700;
}

#celzId {
  font-size: 20px;
  color: #ff7314;
  font-weight: 900;
  opacity: 0.9;
  height: 20px;
  display: inline-flex;
}
#celzId:hover{
  color:red;
}


#time1 {
  font-weight: 800;
  color: red;
  height: auto;
  margin-bottom: 1%;
  margin-left: 0%;
}

#timeId1 {
  background-color: #cecece;
  opacity: 1;
  padding: 1%;
  height: auto;
  font-weight: 900;
  font-family: 'Arial';
  border: 1px solid #b7b7b7;
}
#unitToI {
  color:#7b370a;
}
#unitToI:hover {
  color:#ff7314;
}

#uvindex {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

#redUv {
  color: red;
}

#visibleId, #visibleId1 {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

#redVisb, #redVisb1 {
  color: red;
}
#redVisb:hover, #redVisb1:hover {
  color:#ff7314;
}


#windId, #windId1 {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

#redWindDir {
  color: red;
}

#windSpid, #windSpid1 {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

.spidWind {
  color: red;
}
.spidWind1 {
color:red;
}

#windTemp {
  color: black;
  margin-left: 0%;
  font-size: 12px;
  width: auto;
}

#Temp {
  color: black;
  margin-left: 0%;
  font-size: 12px;
  width: auto;
  margin-bottom: 25%;
}

#humiditR, #humiditR1 {
  font-weight: 900;
  color: black;
  width: auto;
  margin-left: 0%;
}

#cloudCover, #cloudCover1 {
  font-weight: 900;
  color: black;
  width: 50%;
  margin-left: 0%;
}


.dividerId {
  font-size: 16px;
  color: orange;
  font-weight: 900;
}
.populId {
  color: blue;
  font-size:11px;
  display:flex;
}

.allRed {
  color: red;
}

#cellId, #cellId1 {
  color: black;
  font-weight: 900;
  width: auto;
}

 #cellInnerN {
  color:#7b370a;
  width: auto;
}
#cellInner {
  color:#7b370a;

}
#cellInner:hover, #cellInnerN:hover {
  color:#ff7314;
}

#cellInner1, #cellInner11{
  color:red;
}


#devPoint, #devPoint1 {
  color: black;
  font-weight: 900;
}

.tempInnerR {
  color: #e56712;
}
.tempInnerB {
  color:#7b370a;
}

.inBrack {
opacity:0.8;
color:#ff7314;
font-weight: 800;

}
.inBrack1 {
opacity:0.8;
color:#4c2206;
font-weight: 800;

}
#CtoF {
  color:#7b370a;
}
#CtoF:hover{
  color:#e56712;
}

#deppTemp, #deppTemp1 {
color:red;

}

.minmax{
color:black;
font-weight:900;
}
.maxMinT {
  color:#ff7314;
  font-weight:900;
}
#maxminToC, #minmaxToC {
  color:#ff7314;
}
#maxminToC:hover, #minmaxToC:hover {
  color:red;
}



#departId, #departId1 {
color:black;
font-weight:900;
width:auto;
}
#departCf, #departCf1 {
  color:#7b370a;
}

#departCf:hover, #departCf1:hover {
  color:#e56712;
}


#siteName {
background-color:#e5e5e5;
border-radius:0%;
font-style:italic;
font-family: 'Berlin Sans FB'


}

#siteName1 {
  background-color:#e5e5e5; 
  border-radius:0%;
  font-style:italic;
  font-family: 'Berlin Sans FB'
}

#hitForm {
  margin-top:2%;
  display:flex;
}

#submitName {
  width:auto;
  background-color:#d8d8d8; 
  border-radius:0%;
  font-weight:500;
  font-family:'Bernard MT';
}

#submitName:hover{
  background-color:#cbcbcb;
  color:black;

}
#minmaxCont {
  background-color: #c1c1c1;
  border: 1px solid #b7b7b7;
  height:80px;
  padding:1%;
  margin-top:4%;
  margin-bottom:26%;
}
@media screen and (max-width: 1200px) and (min-width: 200px) {
  .weather__container {width:auto; height:auto;margin:5%;}
}

#headDiv {
  width:300px;
}

#bodyDiv {
  width:440px;
  margin-top:8%;
}

#weatherImg {
  width:200px;
  opacity:1;
  height:100px;
}



.expandCont {
 font-weight:900;
 color:red;
}


.hideDiv {
  display:none;
}
.showDiv{
  display:inline-block;
}

.hideCls {
  display:none;
}

.showCls {
  display:block;
}


.hdclr {
  color:black;
  font-weight:800;
}

#moreid {
  margin-top:3%;
  color:gray;
  font-size:20px;
  font-weight:900; 
  font-family:'Verdana';
}

#moreid:hover {
  color: black;
}


.airCls {
  color:black;
  font-weight:900;
}


.catOrn {
  color:#ff7314;
  font-weight:900;
  opacity:0.8;

}

#timerGreen {
  color:green;
}

.circO {
  font-size:20px;
  color:#c1c1c1;
  opacity:0.8;
  margin-top:15%;
}

.c1b {
  color:black;
}

.c2g {
  color:#c1c1c1;
}



#valCont{
  background-color:#c1c1c1;
  border: 1px solid #b7b7b7;
  display: flex;
  flex-flow: column;
  padding-left: 2%;
  padding-bottom: 10%;
}

#valCont1{
  border: 1px solid #b7b7b7;
  display: flex;
  flex-flow: column;
  padding-left: 2%;
  background-color: #9a9a9a;
}


.expDiv {
 padding:2%;
 display:flex;
 flex-flow:column;
 background-color:#c1c1c1;
 padding-top:5%;
 border: 1px solid #b7b7b7;
 padding-bottom: 10%;
}

.expDiv1 {
  padding:2%;
  display:flex;
  flex-flow:column;
  background-color: #9a9a9a;
  padding-top:5%;
  border: 1px solid #b7b7b7;
 }


.icnImg {
  width:37px;
  height:40px;
  padding:1%;
  color:red
}


.circO {
  font-size:14px;
  margin-bottom:10%
}

#siteName1:-webkit-autofill, textarea:-webkit-autofill, #siteName:-webkit-autofill, #siteName:-webkit-autofill:hover,
#siteName:-webkit-autofill:focus,
#siteName:-webkit-autofill:active, #siteName1:-webkit-autofill:hover, #siteName1:-webkit-autofill:focus, #siteName1:-webkit-autofill:active {
  background-color:#e5e5e5 !important;
}

















.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}