
.weather__container {
  margin-top: 5%;
  border: 10px solid #cecece;
  width: 60%;
  background-color: #e5e5e5;
  opacity: 0.9;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 64px -12px 44px 60px #888888;
  box-shadow: 64px -12px 44px 60px #888888;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: flex-start;
  -ms-flex-flow: column wrap;
  flex-flow:column wrap;
  padding-bottom: 5%;
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 5%;
  margin-bottom:10%;
  justify-content: space-around;
}

body {
  background-image: url('images/bigCloud1.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20%;
}

#stajlTempNow {
  font-size: 36px;
  color: #ff7314;
  font-weight: 900;
  height: 100px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 1%;
  display: inline-flex;
  background-color:#c1c1c1;
  border: 1px solid #b7b7b7;
  width:100%
}

#stajlTempNowA {
  font-size: 12px;
  color: black;
  font-weight: 600;
  opacity: 1;
  display: inline-flex;
  height: auto;
  padding-top: 1%;
  flex-wrap: wrap;
}

#spanId1 {
  font-family: 'Arial';
  color: black;
  font-size: 20px;
  font-weight: 600;
  height: auto;
}

#stajlPress {
  font-weight: 800;
  color: red;
  display: inline-flex;
  height: auto;
}

#pressTitl {
  font-weight: 900;
  color: black;
}

#titleCity {
  font-weight: 900;
  color: red;
  opacity: 0.9;
  height: auto;
  margin-top: 6%;
  font-size: 26px;
  margin-left: 0%;
  font-family: 'Verdana';
  margin-bottom: 3%;
}

#stajlClear {
  font-weight: 800;
  color: red;
  height: auto;
  font-size:20px;
  margin-top:15%;
  margin-bottom:3%;
}

#celzId {
  font-size: 20px;
  color: #ff7314;
  font-weight: 900;
  opacity: 0.9;
  height: 20px;
  display: inline-flex;
}
#celzId:hover{
  color:red;
}


#time1 {
  font-weight: 800;
  color: red;
  height: auto;
  margin-bottom: 1%;
  margin-left: 0%;
}

#timeId1 {
  background-color: #cecece;
  opacity: 1;
  padding: 1%;
  height: auto;
  font-weight: 900;
  font-family: 'Arial';
  border: 1px solid #b7b7b7;
}

#unitToI:hover {
  color:#ff7314;
}

#uvindex {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

#redUv {
  color: red;
}

#visibleId {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

#redVisb {
  color: red;
}
#redVisb:hover {
  color:#ff7314;
}


#windId {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

#redWindDir {
  color: red;
}

#windSpid {
  font-weight: 900;
  color: black;
  margin-left: 0%;
}

.spidWind {
  color: red;
}
.spidWind1 {
color:red;
}

#windTemp {
  color: black;
  margin-left: 0%;
  font-size: 12px;
  width: auto;
}

#Temp {
  color: black;
  margin-left: 0%;
  font-size: 12px;
  width: auto;
  margin-bottom: 25%;
}

#humiditR {
  font-weight: 900;
  color: black;
  width: auto;
  margin-left: 0%;
}

#cloudCover {
  font-weight: 900;
  color: black;
  width: 50%;
  margin-left: 0%;
}


.dividerId {
  font-size: 16px;
  color: orange;
  font-weight: 900;
}
.populId {
  color: blue;
  font-size:11px;
  display:flex;
}

.allRed {
  color: red;
}

#cellId {
color: black;
  font-weight: 900;
  width: auto;
}

#cellInner {
  color: red;
  width: auto;
}
#cellInner:hover {
  color:#ff7314;
}

#cellInner1 {
  color:red;
}


#devPoint {
  color: black;
  font-weight: 900;
}

.tempInner {
  color: #e56712;
}
.inBrack {
opacity:0.8;
color:#ff7314;
}

#CtoF:hover{
  color:#e56712;
}

#deppTemp {
color:red;

}

.minmax{
color:black;
font-weight:900;
}
.maxMinT {
  color:#ff7314;
  font-weight:900;
}
#maxminToC:hover, #minmaxToC:hover {
  color:red;
}

#departId {
color:black;
font-weight:900;
width:auto;
}

#departCf:hover {
  color:#e56712;
}


#siteName {
background-color:#e5e5e5;
border-radius:0%;
}

#siteName1 {
  background-color:#e5e5e5;
  border-radius:0%;
}

#hitForm {
  margin-top:2%;
  width:50%;
}

#submitName {
  width:auto;
  background-color:#e5e5e5;
  border-radius:0%;
}
#minmaxCont {
  background-color: #c1c1c1;
  border: 1px solid #b7b7b7;
  height:80px;
  padding:1%;
  margin-top:4%;
}
@media screen and (max-width: 1200px) and (min-width: 200px) {
  .weather__container {width:auto; height:auto;margin:5%;}
}

#headDiv {
  width:300px;
  margin-top:8%;
}

#bodyDiv {
  width:350px;
  margin-bottom:30%;
  margin-top:10%;
}

#weatherImg {
  width:200px;
  opacity:1;
  height:100px;
}

.expandCont {
 background-color:#c1c1c1;
 font-weight:900;
 color:red;
 padding:1%;
}
.hideDiv {
  display:none;
}
.showDiv{
  display:inline-block;
}

.hideCls {
  display:none;
}

.showCls {
  display:block;
}


.hdclr {
  color:black;
  font-weight:800;
}

#moreid {
  margin-top:3%;
  color:gray;
  font-size:25px;
  font-weight:900; 
  font-family:'Verdana';
}

#moreid:hover {
  color: black;
}


.airCls {
  color:black;
  font-weight:900;
  /*background-color:#c1c1c1;*/

}


.catOrn {
  color:#ff7314;
  font-weight:900;
  opacity:0.8;

}

#timerGreen {
  color:green;

}